<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Product Dashboard</title>

    <!-- css files link -->
    <link rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link rel="stylesheet" href="/assets/style.css" />
    <link rel="shortcut icon" href="https://lh4.googleusercontent.com/-JBv5hmfO0Kk/AAAAAAAAAAI/AAAAAAAAAAA/N82QiYzoSZw/s44-w44-h44-p-k-no-ns-nd/photo.jpg" type="image/x-icon">
  </head>
  <body>

    <%- body  %>
 

    <!-- all js files -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.2/js/bootstrap.min.js"></script>
    <script src="/assets/data-table/jquery-3.7.0.js"></script>
    <script src="/assets/data-table/dataTables.bootstrap5.min.js"></script>
    <script src="/assets/data-table/tada-table.js"></script>
    <script src="/assets/custom.js"></script>
    <script>
      new DataTable("#product-table");
    </script>
  </body>
</html>
